<section class="cards">
  <section class="card-containter">
    <img class="image" src="keyboard.png" alt="keyboard">
    <div class="fill">
      <p>Product title</p>
      <p>Information goes here</p>
    </div>
  </section>
  <section class="card-containter">
    <img class="image" src="keyboard.png" alt="keyboard">
    <div class="fill">
      <p>Product title</p>
      <p>Information goes here</p>
    </div>
  </section>
  <section class="card-containter">
    <img class="image" src="keyboard.png" alt="keyboard">
    <div class="fill">
      <p>Product title</p>
      <p>Information goes here</p>
    </div>
  </section>
  <section class="card-containter">
    <img class="image" src="keyboard.png" alt="keyboard">
    <div class="fill">
      <p>Product title</p>
      <p>Information goes here</p>
    </div>
  </section>

</section>
