<section>
  <p>Same day delivery option</p>
  <input type="checkbox"> Free Amazon delivery offered only for eligible destinations
  <p> Another delivery type</p>
  <input type="checkbox"> Get your order by tomorrow
  <p>Sustainable products</p>
  <input type="checkbox"> Climate Pledge Friendly
</section>
<section class="brands">
  <p>Brands</p>
  <input type="checkbox">Redragon
  <input type="checkbox">Logitech
  <input type="checkbox">Corsair
  <input type="checkbox">Mars
  <input type="checkbox">HyperX
</section>
