<div class="container">
  <div class="hero"></div>

  <div class="promoted">
    <img src="/promo.jpg" alt="offer">
    <div class="promo-text">
      <div class="promo-main-text">Get yourself a little treat and invite a friend to join</div>
      <div class="promo-sub-text">Buy 1 get 2 free</div>
    </div>
    <img src="/promo-left.png" alt="promo-left">
  </div>

  <ul class="coffee-cta">
    <li>
      <a href="" class="part">
        <img src="/caff.jpg" alt="caffeine">
        CAFFEINE DRINKS</a>
    </li>
    <li>
      <a href="" class="part">
        <img src="/non.png" alt="noncaff">
        NON-CAFFEINE DRINKS</a>
    </li>
    <li>
      <a href="" class="part">
        <img src="/coco.png" alt="hot">
        BEVERAGES</a>
    </li>
    <li>
      <a href="" class="part">
        <img src="/bite.png" alt="bites">
        BITES</a>
    </li>
  </ul>

  <!-- <div class="bottom"></div> -->
</div>
