.container {
  display: flex;
  flex-direction: column;
}

.hero {
  background-image: url("../../../public/banner.jpg");
  background-repeat: no-repeat;
  height: 30rem;
  background-size: cover;
  background-position: center center;
}

.coffee-cta {
  display: flex;
  justify-content: space-between;
  margin: 0px 100px 25px 100px;
  padding: 10px 0;
}

img {
  height: 3rem;
}

/* .bottom {
  background-color: url("../../../public/bottom-banner.jpeg");
  background-repeat: no-repeat;
  height: 30rem;
  background-size: cover;
  background-position: center center;
} */
